<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.proj.web.vo.MemberVO" alias="member"/>
		<typeAlias type="com.proj.web.vo.GalleryVO" alias="gallery"/>
		<typeAlias type="com.proj.web.vo.InformationVO" alias="information"/>
		<typeAlias type="com.proj.web.vo.WorkVO" alias="work"/>
		<typeAlias type="com.proj.web.vo.ChatroomVO" alias="chat"/>
		<typeAlias type="com.proj.web.vo.ReplyVO" alias="reply"/>
		<typeAlias type="com.proj.web.vo.MarketVO" alias="market"/>
		<typeAlias type="com.proj.web.vo.LikeVO" alias="like"/>
		<typeAlias type="com.proj.web.vo.FollowVO" alias="follow"/>
		<typeAlias type="com.proj.web.vo.BuyVO" alias="buy"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/MemberMapper.xml"/>
		<mapper resource="mapper/calendarMapper.xml"/>
		<mapper resource="mapper/informationMapper.xml"/>
		<mapper resource="mapper/workMapper.xml"/>
		<mapper resource="mapper/chatMapper.xml"/>
		<mapper resource="mapper/MarketMapper.xml"/>
		<mapper resource="mapper/followMapper.xml"/>
	</mappers>
</configuration>
