<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.web.dao.CalendarMapper">

	<select id="gallerySelectAll" resultType="gallery">
	   	select
			gallery_seq as id
			,member_id
			,title
			,to_char("start",'yyyy-mm-dd') as "start"
			,to_char("end",'yyyy-mm-dd') as "end"
			,to_char(gallery_indate,'yyyy-mm-dd') as gallery_indate
			,gallery_like
			,gallery_template
		from
			gallery
	</select>
	
	<select id="gallerySelectOne" parameterType="int" resultType="gallery">
		select
	        gallery_seq as id
	        ,member_id
	        ,title
	        ,"start"
	        ,"end"
	        ,gallery_indate
	        ,gallery_like
	        ,gallery_template
		from
	    	gallery
		where
	    	gallery_seq = #{id}
	</select>
	
	<select id="nickNameFind" parameterType="String" resultType="member">
		select
			member_id
			,member_pw
			,member_phone
			,member_name
		    ,member_nickname
		from
		    member
		where
		    member_id = #{member_id}
	</select>


</mapper>