<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.web.dao.InformationMapper">

	<select id="selectAllInformation" resultType="information">
		select
			information_seq
    		,information_title 
    		,information_detail
    		,to_char(information_indate,'yyyy-mm-dd') as information_indate
    		,information_writer     
		from
    		information
	</select>

</mapper>